.news-slide
    .news-slides
        .news-slide__item
            .news-slide__img
                img(src="@path/img/top/news.jpg", alt="")
            .news-slide__desc
                .title Pick up
                .font-18 新規出店用地・テナント出店募集        
        .news-slide__item
            .news-slide__img
                img(src="@path/img/top/news.jpg", alt="")
            .news-slide__desc
                .title Pick up
                .font-18 新規出店用地・テナント出店募集        
        .news-slide__item
            .news-slide__img
                img(src="@path/img/top/news.jpg", alt="")
            .news-slide__desc
                .title Pick up
                .font-18 新規出店用地・テナント出店募集   