$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-icon-expand: "\e903";
$icon-triangle-right: "\e901";
$icon-chevron-right: "\e902";
$icon-fast-forward: "\e900";
