footer.footer
    .contact
        .container
            .footer-logo
                a(href="/"): +img("logo-footer.png")
            .contact-title Contact us
            .contact-txt 取り扱い製品の詳細、価格については下記よりお問合せください。
            .contact-button
                a(href="#") お問合せはこちら
            .contact-email メールでのお問い合わせはこちら: <a href="mailto:email@yamazen.com.vn">email@yamazen.com.vn</a>
            .row.contact-info.gx-30
                .col-4.col-md-12.contact-info__items
                    h4.contact-info__title Ho Chi Minh Office
                    a(href="https://www.google.com/maps/place/Thi%C3%AAn+S%C6%A1n+Plaza/@10.7310027,106.7210691,17.52z/data=!4m9!1m2!2m1!1s800,+Nguyen+Van+Linh+Street,+Tan+Phu+Ward,+District+7,+Ho+Chi+Minh+City!3m5!1s0x31752fd0d4df7315:0xa7f0de21b38e581!8m2!3d10.732181!4d106.7192621!15sCkc4MDAsIE5ndXllbiBWYW4gTGluaCBTdHJlZXQsIFRhbiBQaHUgV2FyZCwgRGlzdHJpY3QgNywgSG8gQ2hpIE1pbmggQ2l0eZIBEGNvcnBvcmF0ZV9vZmZpY2U" target="_blank").icon.address Thien Son Plaza, No.800, Nguyen Van Linh Street, Tan Phu Ward, District 7, Ho Chi Minh City
                    a(href="tel:+842854110794").icon.phone +84 (0) 28 5411 0794
                    .icon.fax +84 (0) 28 5411 0794
                .col-4.col-md-12.contact-info__items
                    h4.contact-info__title Ha Noi Office
                    a(href="" target="_blank").icon.address Lai xa Industrial Cluster, Kim Chung Commune, Hoai Duc Dist, Hanoi, Vietnam
                    a(href="tel:+842854110794").icon.phone +84 (0) 28 5411 0794
                    .icon.fax +84 (0) 28 5411 0794
                .col-4.col-md-12.contact-info__items
                    h4.contact-info__title Hai Phong Office
                    a(href="" target="_blank").icon.address 45 Van Cao street,Hai Phong City,Vietnam
                    a(href="tel:+842253738558").icon.phone +84 (0) 22 5373 8558
    .footer-bottom
        .container 
            .row
                .col-8.col-md-12.copyright Copyright (C) 2011-2021 YAMAZEN CORPORATION. ALL RIGHTS RESERVED.
                .col-4.col-md-12.footer-link
                    a(href="#") POLICY PRIVACY
