.section-banner-general {
    &__wrapper {
        position: relative;
    }

    &__img {
        .img-fluid {
            width: 100%;
        }
    }

    &__content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .container {
        @include media(set-max-w, $md) {
            width: 100%;
        }

    }

    &__title {
        padding-bottom: 10px;
        margin-bottom: 0;
        line-height: .69;
        font-size: 45px;
        font-weight: 500;
        text-transform: uppercase;
        @include media(set-min-w, $md) {
            padding-bottom: 0;
            font-size: 58px;
        }
        @media (max-width: 374.98px) {
            font-size: 35px;
        }

        span {
            padding: 10px 25px 10px 15px;
            margin-left: -15px;
            background-color: $white;
            @include media(set-min-w, $md) {
                padding: 15px 30px 0 0;
                margin-left: 0;
            }
        }
    }
}